* {
    font-family: 'Source Code Pro', monospace;
    
}

body {
    margin: 0;
    background: black;
    overflow: hidden;
}

#intro {
    color: white;
}

#main {
    color: white;
}

a .fab{
    color: white;
    font-size: 40px;
    display: inline-block;
    text-align: center;
    padding: 1%;
    
}

#bottom-div {
    text-align: center;
}





